@model DL.AccountData
<tr>
    <td>@Html.DisplayFor(x => x.Id)</td>
    <td>@Html.DisplayFor(x => x.System)</td>
    <td>@Html.DisplayFor(x => x.Broker)</td>
    <td>
        <a href="#" onclick="DeleteAccount(this, @Model.Id); return false;" class="buttonStyle">Delete</a>
    </td>
</tr>
