@model ForexBox.Models.MainDesign
<div class="footerimage"></div>
<div class="textfooter">
    Контакты
    <div class="hreffooter"></div>
    <p><div class="hreffooter">support@fxgraphs.com</div></p>
    <p><a class="hreffooter"href="#">Live chat</a></p>
</div>
<div class="textfooter">
    Статьи
    <p><a class="hreffooter"href="#">Рынок Форекс</a></p>
    <p><a class="hreffooter"href="#">Брокеры</a></p>
    <p><a class="hreffooter"href="#">ПАММ счет</a></p>
    <p><a class="hreffooter"href="#">Ручная торговля</a></p>
    <p><a class="hreffooter"href="#">Автоматическая торговля</a></p>
</div>
<div class="textfooter">
   Платформы
    <p><a class="hreffooter"href="#">Metatrader</a></p>
    <p><a class="hreffooter"href="#">Jforex</a></p>
    <p><a class="hreffooter"href="#">Мобильные устройства</a></p>
</div>
<div class="textfooter">
    Разделы
    <p><a class="hreffooter"href="#">О сервисе</a></p>
    <p><a class="hreffooter"href="#">Новости</a></p>
    <p><a class="hreffooter"href="#">Форум</a></p>
    <p><a class="hreffooter"href="#">Рейтинг счетов</a></p>
    <p><a class="hreffooter"href="#">Jforex</a></p>
    <p><a class="hreffooter"href="#">Metatrader</a></p>
</div>

<div class="footerblokdown"><div class="footerblokdowntext">© 2014 Fxgraphs - бесплатный сервис мониторинга Вашей торговли на Форекс.</div></div>





