@model List<DL.AccountData>
@{
    ViewBag.Title = "ManageAccounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .accountTable
    {
        margin: 0px;
        padding: 0px;
        width: 100%;
        border: 1px solid #dedede;
    }

        .accountTable table
        {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
        }

        .accountTable tr:nth-child(odd)
        {
            background-color: #F7F5F5;
        }

        .accountTable tr:nth-child(even)
        {
            background-color: #ffffff;
        }

        .accountTable td
        {
            vertical-align: middle;
            text-align: left;
            padding: 7px;
            font-size: 10px;
            font-family: arial;
            font-weight: normal;
            color: #000000;
        }

        .accountTable tr:last-child td
        {
            border-width: 0px 0px 0px 0px;
        }

        .accountTable tr:first-child td
        {
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");
            background-color: #cccccc;
            text-align: center;
            font-size: 14px;
            font-family: arial;
            font-weight: bold;
            color: #767676;
        }

    .buttonStyle
    {
        background-color: #ededed;
        text-indent: 0;
        border: 1px solid #dcdcdc;
        display: inline-block;
        color: #777777;
        font-family: arial;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        height: 20px;
        line-height: 20px;
        width: 100px;
        text-decoration: none;
        text-align: center;
    }

        .buttonStyle:hover
        {
            background-color: #dfdfdf;
        }

        .buttonStyle:active
        {
            position: relative;
            top: 1px;
        }
</style>

<script type="text/javascript">
    function DeleteAccount(element, id) {
        $(element).parent().parent().parent().parent().remove();

        $.ajax({
            url: '@Url.Action("DeleteAccount")',
            type: 'POST',
            data: JSON.stringify({ "accountId": id }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data)
            {
                jAlert("Account was successfully deleted.", "Account");
            },
            error: function ()
            {
                alert('Error occured', "Account");
            }
        });
    }


</script>


<div style="margin: 40px 20px">
    <h4>Manage User Accounts</h4>
</div>
<div style="margin: 30px auto; width: 40%;">

    <table class="accountTable">
        <tr>
            <td>ID</td>
            <td>System</td>
            <td>Broker</td>
            <td></td>
        </tr>
        @foreach (var account in Model)
        {
            @Html.Partial("AccountData", account)
        }
    </table>
</div>
