@model DL.UserStatisticSettings
<div>
    <h4>Statistic Tabs Visibility</h4>
    <table>
        <tbody>
            <tr>
                <td>@Html.EditorFor(x => x.IsGrowthTabVisible)</td>
                <td>Is Growth Tab Visible</td>
            </tr>
            <tr>
                <td>@Html.EditorFor(x => x.IsBalanceTabVisible)</td>
                <td>Is Balance Tab Visible</td>
            </tr>
            <tr>
                <td>@Html.EditorFor(x => x.IsProfitTabVisible)</td>
                <td>Is Profit Tab Visible</td>
            </tr>
            <tr>
                <td>@Html.EditorFor(x => x.IsDrawdownTabVisible)</td>
                <td>Is Drawdown Tab Visible</td>
            </tr>
        </tbody>
    </table>
</div>
