<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="forexBox2Entities" connectionString="metadata=res://*/forexBoxDB.csdl|res://*/forexBoxDB.ssdl|res://*/forexBoxDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql3.1gb.ua;initial catalog=1gb_4rexbox;persist security info=True;user id=1gb_zaletskyy;password=5109d899;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="forexBox2Entities" connectionString="metadata=res://*/forexBoxDB.csdl|res://*/forexBoxDB.ssdl|res://*/forexBoxDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=W7Reserve;initial catalog=1gb_4rexbox;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>