@model ForexBox.Models.EmailResetModel
@{

    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.js")"></script>  
}



    <script type="text/javascript">
                 $(document).ready(function () {
                        $('#email').keypress(function (e) {
                            if (e.which == 13) {
                                jQuery(this).blur();
                                ForgetPasswordSubmit();
                                $("#emailsend").attr("disabled",true);
                            }
                        });
                 });


                function checkEmail(email) {
                var filter = @Html.Raw(ViewData["emailValidator"].ToString());
                if (!filter.test(email)) {
                    return false;
                } else {
                    return true;
                }
            }

                function ForgetPasswordSubmit() {
                    var email = $("#email").val();
                    var errorMessage = "";
                    if(email == "") {
                        errorMessage += "Введите пожалуйста ваш адрес електронной почты\n";
                    }
                    if(!checkEmail(email)) {
                        errorMessage += "Неверный формат електронной почты\n";
                    }
            
                     if (errorMessage == "") {
                        //alert("На вашу почту будет отправлено письмо с инструкциями и ссылкой. \n Пожалуйста нажмите на ссылку в письме чтоб восстановить пароль");
                         
                         
                         $.post("@Url.Action("Email", "Home")",
                            {
                                mail : $("#email").val()                                
                            },
                            function (data, status, xhr)
                            {
                                if(data == "{\"Success\":true}")
                                {
                                    alert("На вашу почту было отправлено письмо с инструкциями и ссылкой. Пожалуйста нажмите на ссылку в письме и восстановите пароль.");
                                    window.location = "/Home";
                                }
                                else
                                {
                                    alert("Не удалось восстановить пароль! Попробуйте еще раз или обратитесь к администрации.");
                                    $("#emailsend").attr("disabled",false);
                                }

                            });

                     }
                    else {
                        errorMessage = "Исправте пожалуйста следующие ошибки:\n" + errorMessage;
                        alert(errorMessage);
                    }
                }
                

                $(document).ready(function() {           
		$('div.emailbutton').click(function() {
		var modalid = $(this).attr('rel');
		$('#' + modalid).fadeIn(300);
		$('#fadebody').fadeIn(300);
		var topm = ($('#' + modalid).height() + 10) / 2;
		var leftm = ($('#' + modalid).width() + 10) / 2;
		$('#' + modalid).css({
		'margin-top' : -topm,
		'margin-left' : -leftm
		});
		$('.close').click(function() {
		$('#fadebody , .modalbox').fadeOut(300)
		return false;
		});
		});
		});



     </script>



<div id="emailposition">
    <div rel="modal3" class="emailbutton">Забыли пароль?</div>
</div>

        <div class="modalbox" id="modal3"> 
        <div class="modalcss3">
            <center>
            <br> 
            <br>
            <div id="emailall">
                <div id="emailtext">Введите Ваш e-mail</div>

                <p> @Html.TextBoxFor(m => m.Email,new { id = "email", @class = "texbox" })</p>
         
  
                <input type="button" onclick="return ForgetPasswordSubmit();" value="Отправить" id="emailsend"/>
            </div>
            <div class="forget"></div>
            </center>	
        <div class="close">&#215;</div>
        <br>
    </div>


</div>
