@model DL.Statistic



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <title>Notes</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >

    
    <link href="../../Content/kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="../../Content/kendo/kendo.dataviz.default.min.css" rel="stylesheet" />
    <link href="../../Content/kendo/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="../../Content/kendo/kendo.default.min.css" rel="stylesheet" />


    <script src="../../Scripts/kendo/console.js"></script>
    <script src="../../Scripts/kendo/jquery.min.js"></script>
    <script src="../../Scripts/kendo/kendo.dataviz.min.js"></script>
</head>
<body >
    <div style="margin-top:50px;margin-left:50px">
        
    <div style="float: left">
        @Html.Partial("StatisticInfo", Model.ShortStatisticData)
    </div>
    <div class="chart-wrapper" style="float:left">
        <div id="chart"></div>
    </div>
    <script>

        $(document).ready(function () {
            $.ajax({
                url: '/ru/Stats/GetGraphData?graphType=growth',
                type: 'GET',
                accepts: "application/json; charset=utf-8",
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    createChart(result);
                },


            });
        });

        //var grandSlam =
        //    [{
        //    "year": "2003",
        //    "win": 13,
        //    "extremum": "MIN: 13",
        //    "loss": 3
        //},{
        //    "year": "2004",
        //    "win": 22,
        //    "loss": 1
        //},{
        //    "year": "2005",
        //    "win": 24,
        //    "loss": 2
        //},{
        //    "year": "2006",
        //    "win": 27,
        //    "extremum": "MAX: 27",
        //    "loss": 1
        //},{
        //    "year": "2007",
        //    "win": 26,
        //    "loss": 1
        //},{
        //    "year": "2008",
        //    "win": 24,
        //    "loss": 3
        //},{
        //    "year": "2009",
        //    "win": 26,
        //    "loss": 2
        //},{
        //    "year": "2010",
        //    "win": 20,
        //    "loss": 3
        //},{
        //    "year": "2011",
        //    "win": 20,
        //    "loss": 4
        //},{
        //    "year": "2012",
        //    "win": 19,
        //    "loss": 3
        //}];

        function createChart(grandSlam) {
            $("#chart").kendoChart({
                dataSource: {
                    data: grandSlam
                },
                title: {
                    text: "Roger Federer Grand Slam tournament performance"
                },
                legend: {
                    position: "bottom"
                },
                seriesDefaults: {
                    type: "line"
                },
                series: [{
                    field: "win",
                    name: "Wins",
                    noteTextField: "extremum",
                    notes: {
                        label: {
                            position: "outside"
                        },
                        position: "bottom"
                    }
                }, {
                    field: "loss",
                    name: "Losses"
                }],
                valueAxis: {
                    line: {
                        visible: false
                    }
                },
                categoryAxis: {
                    field: "year",
                    majorGridLines: {
                        visible: false
                    }
                },
                tooltip: {
                    visible: true,
                    template: "#= series.name #: #= value #"
                }
            });
        }

        //$(document).ready(createChart);
        $(document).bind("kendo:skinChange", createChart);
    </script>
</div>


    
</body>

